version: '3.1'

services:
  db:
    image: postgres
    restart: always
    container_name: db
    ports:
      - '5432:5432'
    environment:
      POSTGRES_PASSWORD: posthres
      POSTGRES_USER: postgres
      POSTGRES_DB: cms